.quotes-table {
  &-wrap {

  }

  &_row {
    z-index: 1;
    position: relative;
    display: flex;
    cursor: pointer;

    &:hover {
      background-color: #00000030;
    }

    &-header {
      z-index: 2;
      position: sticky;
      top: 0;
      font-weight: bold;
      background-color: #d3d3d3;
      padding: 0 5px;

    }
  }

  &_item {
    transition: all 1s;
    flex-grow: 1;
    flex-basis: 0;
    padding: 6px;
  }
}


